p {   color: rgb(0, 0, 0);};

/* style.css */
body {
    background-color: #ffa7e2; /* Cor de fundo da página (cinza claro) */
}

h1 {
    color: rgb(0, 0, 0); /* Cor do título (azul) */
    text-align: center; /* Alinhamento do título */
}

p {
    font-size: 18px; /* Tamanho da fonte do parágrafo */
    color: black;
}
